html {
  background-image: url("/Users/MartinUriarte/wdi/wip/project-00/Assets/IMGs/wdi33wUC_2.png");
}

body {
  background-color: rgb(43,48,44);
}

h1 {
  margin-top: 250px;
}

h3 {
  margin-top: 260px;
}

button {
  margin-top: 30px;
}

li {
  font-size: 16px;
}

.road {
	position: relative;
	max-width: 1366px;
	max-height: 768px;
}

.road1{
}

.Player1 {
	position: absolute;
  top: 800px;
	background-image: url("/Users/MartinUriarte/wdi/wip/project-00/Assets/IMGs/player1.png");
  background-repeat: no-repeat;
  background-size: 100%;
	width: 50px;
	Height: 90px;
  margin-left: 92px;
}

.Player2 {
	position: absolute;
  top: 800px;
	background-image: url("/Users/MartinUriarte/wdi/wip/project-00/Assets/IMGs/player2.png");
  background-repeat: no-repeat;
  background-size: 100%;
	width: 50px;
	Height: 90px;
  margin-left: 92px;
}

.winnerScroll {
background-color: rgb(43,48,44);
color: white;
}

.instructions {
  top: 180px;
  font-family: 'Press Start 2P';
  font-size: 12px;
}

#developerInstructions {
  margin-top: 15px;
}
