html {
  background-image: url("/Users/MartinUriarte/wdi/wip/project-00/Assets/IMGs/wdi33wUC_2.png");
}

.road {
	position: relative;
	border: 2px solid yellow;
	max-width: 1366px;
	max-height: 768px;
}

.road{

}

.Player1 {
	position: absolute;
	background-image: url("/Users/MartinUriarte/wdi/wip/project-00/Assets/IMGs/player1.png");
  background-repeat: no-repeat;
  background-size: 100%;
	width: 150px;
	Height: 240px;
	border: 1px solid red;
}
