html {
  background-image: url("/Users/MartinUriarte/wdi/wip/project-00/Assets/IMGs/wdi33wUC_2.png");
}

.road {
	position: relative;
	border: 2px solid yellow;
	max-width: 1366px;
	max-height: 768px;
}

.Player1 {
	position: absolute;
	background-image: url("Assets/IMGs/player1.png") no-repeat;
	width: 109px;
	Height: 154px;
	border: 1px solid red;
}
